@media only screen and (max-width:768px) {
    nav ul {
        display: none;
    }

    nav span {
        display: block;
    }

    nav ul li {
        text-align: center;
        margin-top: 2rem;
    }


    

}