@media only screen and (max-width:768px) {
    nav ul {
        display: none;
    }

    nav span {
        display: block;
    }

    nav ul li {
        text-align: center;
        margin-top: 2rem;
    }
    .main-content h1 {
        font-size: 2.5rem;
    }

    .main-content p {
        margin-top: 0.5rem;
    }


    

}


@media (max-width: 992px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .card {
        width: 90%;
    }

    .card-section .card-heading {
        font-size: 2rem;
    }
}