@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


/* navbar started here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    background-color: black;
    position: relative;
}

nav .logo {
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    color: orangered;
}

nav ul {
    display: flex;
    position: relative;
}

nav ul li {
    list-style: none;
    padding: 0 2rem;
}

nav ul li a {
    color: orangered;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover::after {
    width: 100%;
}

nav span {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;

}


.show-ul {
    position: absolute;
    top: 4rem;
    height: calc(100vh - 4rem);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}


/* home section started here */
.main-container {
    height: calc(100vh - 4rem);
    width: 100%;
    background-image: url(assets/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.over-lap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.850);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 80%;
}

.main-content h1 {
    color: #fff;
    font-family: "jost", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}

.main-content h1 span {
    color: orangered;
}

.main-container p {
    color: white;
    text-align: center;
    font-family: "jost", sans-serif;
    letter-spacing: 1px;

}

.main-container .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.main-container .btn-container a {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 900;
    font-family: "jost", sans-serif;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 0.3rem;
    transition: 0.3s;
    text-decoration: none;
    box-shadow: 0 0 0.5rem 2px orangered;
}

.main-container .btn-container a:hover {
    background-color: orangered;
    color: #fff;
    box-shadow: 0 0 2rem 10px orangered;
}


/* card-section started here */

.card-section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: honeydew;
    padding-bottom: 3rem;
}

.card-section .card-heading {
    min-height: 10vh;
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    font-family: "jost", sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap
}


.card {
    width: 19.5rem;
    max-width: 90%;
    height: auto;
    box-shadow: 0 0 0.5rem 0.1rem black;
    border-radius: 0.3rem;
    background-color: coral;
    transition: 0.3s;
    margin-top: 2rem;
}

.card:hover {
    box-shadow: 0 0 1rem 0.5rem black;
    transform: translatey(-1rem);
}

.card .card-image {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.card h3 {
    text-align: center;
    margin-top: 2rem;
    font-family: "jost", sans-serif;
    font-style: italic;
}

.card p {
    text-align: center;
    margin-top: 0.5rem;
}

.card .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn button {
    margin-top: 1rem;
    background-color: black;
    border: none;
    padding: 0.3rem 1rem;
    font-family: "jost", sans-serif;
    font-weight: 800;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;

}

.card-btn button:hover {
    box-shadow: 0 0 1rem 0.4rem #fff;
}


.about-container {
    min-height: 100vh;
    width: 100%;
    background-image: url(assets/card-3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.over-about{
    background-color: #fff;
    height: 100%;
    width: 100%;
}



