@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    background-color: black;
    position: relative;
}

nav .logo {
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    color: orange;
}

nav ul {
    display: flex;
    position: relative;
}

nav ul li {
    list-style: none;
    padding: 0 2rem;
}

nav ul li a {
    color:orange;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover::after {
    width: 100%;
}

nav span {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;

}


.show-ul {
    position: absolute;
    top: 4rem;
    height: calc(100vh - 4rem);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.hero-container{
    width: 100%;
    height: calc(100vh - 4rem);
    background-image:url(assets/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.over{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 90vw;
    padding: 0 1rem;
    height: 50vh;

}

.hero-text h1{
    color:#fff;
    font-family: "Roboto",sans-serif;
    font-style: italic;
    font-size: 3rem;
}
.hero-text p{
    color: orange;
    font-family: "Roboto",sans-serif;
    font-size: 1.3rem;
}

.hero-text a{
    background-color: orange;
    padding: 0.3rem 1rem;
    display: flex;
    color:#fff;
    text-decoration: none;
    border-radius: 0.4rem;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    transition: 0.3s;
    margin-top: 1rem;
}
.hero-text a:hover{
    box-shadow: 0 0 1rem 0.5rem orange;
}
